.content {
    position: relative;
    border-radius: 7px;
    background-color: white;
    margin-bottom: 20px;
    width: 515px;
    height: 250px ; 
    padding:20px 20px ;
    font-size: 0.8em ;
    transition: 0.3s;
}

.back{
    width: 515px;
    height: 250px;
}

.search{
    overflow: hidden;
    position: relative;
    border-radius: 7px;
    background-color: white;
    margin-bottom: 10px;
    width: 515px;
    height: 75px ; 
    padding:20px 20px ;
    transition: 0.1s;
}

/* .content:hover{
    background-color:rgb(237,245,250);
} */

.contentContainer{
    padding:5px;
}

.contentContainer .border{
    position: absolute;
    width: 100%;
    bottom: 50px;
    left: 0;
    height: 1px;
    background-color: rgba(0,0,0,0.2);
}

.author{
    position: absolute;
    padding: 0px 10px;
    line-height: 50px;
    vertical-align: middle;
    height: 50px;
    bottom: 0;
    left: 0;
    width: 535px;
}

.picAuthor{
    position: absolute;
    height: 100%;
}

/* .icon {
    position: absolute;
} */

.comment{
    width: 20px;
    top:0;
    right: 0;
}

.heart:hover{
    cursor: pointer;
}

.heartDiv{
    position: absolute;
    display: inline-block;
    transform: translateY(-50%);
    top:50%;
    right:0;
}

.heart{
    margin-right: 5px;
    line-height: 50px;
    vertical-align: middle;
    width: 16px;
}

.dot{
    position: relative;
    float: right;
    z-index: 1000;
    width: 8px;
}

.divPostInput {
    display: inline-block;
    position: relative;
    padding-right: px;
    width: 250px;
    height: 50px;
    margin-bottom: 15px;
}

.divPostInput input {
    font-size: 1.2em;
    width: 250px;
    border: none;
    padding: 15px 0px;
    color: black;
    background-color: white;
}

.divPostInput input:not(:placeholder-shown) + .placeholder{
    transform: translateY(-20px)scale(0.7)
}

.divPostInput input:focus + .placeholder{
    transform: translateY(-20px)scale(0.7)
}

.divPostInput .placeholder{
    position: absolute;
    left: 0;
    top: 18px;
    color:grey;
    font-size: 1em;
    pointer-events: none;
    transform-origin: 0 0;
    transition: 0.3s;
}

.Right{
    float:right;
}

.divPostInput .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: rgba(0,0,0,0.5);
    width: 250px;
}

textarea{
    outline: none;
    font-size: 1em;
    border-color: rgba(0,0,0,0.5);
}

.topic{
    position: absolute;
    font-size: 2em;
    top:0;
    left:0;
    height: 60px;
}
.description{
    position: absolute;
    font-size: 1em;
    top:60px;
    left:0;
    height: 120px;
}
.wage{
    position: absolute;
    font-size: 1em;
    top:180px;
    left:0;
}
.position{
    position: absolute;
    font-size: 1em;
    top:180px;
    left:250px;
}
.numLike:hover{
    cursor: pointer;
}
.likeList{
    display:none;
    position:absolute;
    bottom: 15px;
    background-color:#fff;
    height: auto;
    padding: 5px 20px;
    width: auto;
    left: 105%;
    border-radius: 7px;
}
.innerLikeList{
    position:relative;
    background-color:#fff;
    height: 100%;
    width: 100%;
}
.innerLikeList:after{
    z-index: 100;
    position: absolute;
    bottom: 0px;
    left: -20px;
    margin-left: -10px;
    content:'';
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-color: #fff;
}
.checkImg:hover{
    cursor: pointer;
}