.content {
    position: relative;
    border-radius: 7px;
    background-color: white;
    margin-bottom: 20px;
    width: 515px;
    height: 250px ; 
    padding:20px 20px ;
    font-size: 0.8em ;
    transition: 0.3s;
}

.back{
    width: 515px;
    height: 250px;
}

.search{
    overflow: hidden;
    position: relative;
    border-radius: 7px;
    background-color: white;
    margin-bottom: 10px;
    width: 515px;
    height: 75px ; 
    padding:20px 20px ;
    transition: 0.1s;
}

/* .content:hover{
    background-color:rgb(237,245,250);
} */

.contentContainer{
    
}

.contentContainer .border{
    position: absolute;
    width: 100%;
    bottom: 50px;
    left: 0;
    height: 1px;
    background-color: rgba(0,0,0,0.2);
}

.author{
    position: absolute;
    padding: 0px 10px;
    line-height: 50px;
    vertical-align: middle;
    height: 50px;
    bottom: 0;
    left: 0;
    width: 535px;
}

.picAuthor{
    position: relative;
    top: 20px;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 25px;
    margin-right: 5px;
}

/* .icon {
    position: absolute;
} */

.comment{
    width: 20px;
    top:0;
    right: 0;
}

.heartDiv{
    position: absolute;
    display: inline-block;
    transform: translateY(-50%);
    top:50%;
    right:0;
}

.heart{
    margin-right: 5px;
    line-height: 50px;
    vertical-align: middle;
    width: 16px;
}

.dot{
    position: relative;
    float: right;
    width: 10px;
}